.section
  %a{:name => "#{command.name}#{index}"}
  %h2
    Command: #{command.name}
    %a{:href => help_url(command.name), :title => "Click for help on #{command.name}", :target => "_blank"} ?
  %p.command #{command.to_s}
  = render_status command.status
  = render_time command.status
  - if input? command.options
    = render_input_files command.options
  - if output? command.options
    = render_output_files command.options
  - if png? command.options
    = render_png command.options
