!!!
%head
  %title BioDSL report
  = render_css
%body
  %h1.center BioDSL report
  %p.center.bold Version #{BioDSL::VERSION}
  %p.center.bold Generated #{Time.now}
  = render_pipeline pipeline
  = render_overview commands
  - commands.each_with_index do |command, i|
    = render_command command, i
