.section
  %h2 Overview
  %table
    %tr.left
      %th.bold Command
      %th.bold Records in
      %th.bold Records out
      %th.bold Time elapsed
    - commands.each_with_index do |command, i|
      %tr
        %td
          %a{:href => "##{command.name}#{i}"} #{command.name}
        %td.right #{command.status[:records_in].commify}
        %td.right #{command.status[:records_out].commify}
        %td.right #{command.status[:time_elapsed]}
